<div class="grid md:grid-cols-2 grid-cols-1 justify-center items-center gap-[30px] px-[30px]">
  {% for block in section.blocks %}
    <!-- single Image -->
    <div
      class="relative h-[{{ section.settings.height }}px] bg-cover bg-center w-full rounded-md"
      style="
                        {%  if block.settings.product %} background-image: url('{{block.settings.product_img |  img_url: 'master'}}'); {% endif %} %}
      "
    >
      {% if block.settings.hasBanner %}
        <div
          class="absolute inset-0 bg-[{{block.settings.overlay_color}}] opacity-{{block.settings.opacity}} rounded-md"
        ></div>
        <div class="absolute inset-0 flex items-center justify-start p-[40px]">
          <div class="text-center text-[#323232] w-full leading-[15px]">
            <span class="text-[14px] font-medium uppercase">{{ block.settings.product.vendor }}</span>
            <h2 class="text-[22px] font-medium tracking-wider my-6 leading-[30px]">
              {{ block.settings.product.title }}
            </h2>
            <p class="text-[22px] font-semibold text-[#e52e06]">
              {{ block.settings.product.price | money }}
            </p>
            <div class="mt-12">
              <a
                href="{{ block.settings.product.url }}"
                class="bg-[#e52e06] hover:bg-[#323232] text-[#fff] py-[12px] px-[20px] font-bold rounded-full transition-all duration-300 "
                >Shop Now <i class="fa-solid fa-arrow-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <!-- single Image -->
  {% endfor %}
</div>

{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "number",
      "id": "height",
      "label": "Card Height",
      "default": 300
    }
  ],
  "blocks": [
    {
      "type": "Product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        },
        {
          "type": "image_picker",
          "id": "product_img",
          "label": "Upload proudct image"
        },
        {
          "type": "header",
          "content": "Overlay Setting"
        },
        {
          "type": "checkbox",
          "id": "hasBanner",
          "label": "Text enable or disable",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Pick overlay color",
          "default": "#323232"
        },
        {
          "type": "range",
          "id": "opacity",
          "label": "Select overlay opacity",
          "min": 10,
          "max": 100,
          "step": 5,
          "default": 25
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}
