<div class="banner banner_carousel">
  <!-- single Image -->
  {% for block in section.blocks %}
    <div
      class="relative h-[550px] bg-cover bg-center"
      style="{%  if block.settings.banner_img %} background-image: url('{{block.settings.banner_img |  img_url: 'master'}}'); {% endif %} %} b"
    >
      {% if block.settings.hasBanner %}
        <div class="absolute inset-0 bg-[{{block.settings.overlay_color}}] opacity-{{block.settings.opacity}}"></div>

        <div class="absolute inset-0 flex items-center justify-start p-[40px]">
          <div class="text-start text-[{{ block.settings.text_color }}] w-1/2">
            <p class="text-lg font-medium">{{ block.settings.subheading }}</p>
            <h2 class="text-5xl font-semibold tracking-wider my-6">{{ block.settings.banner_heading }}</h2>
            <p class="text-[16px] ">
              {{ block.settings.info }}
            </p>
            <div class="banner_button mt-12">
              <a
                href="{{block.settings.button_url}}"
                class="bg-[#e52e06] hover:bg-[#323232] text-[#fff] py-5 px-[40px] font-bold rounded-full transition-all duration-300 "
              >
                {{- block.settings.button_text }}
                <i class="fa-solid fa-arrow-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Banner with Text",
  "settings": [],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Slider image"
        },
        {
          "type": "header",
          "content": "Overlay Setting"
        },
        {
          "type": "checkbox",
          "id": "hasBanner",
          "label": "Text enable or disable",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Pick overlay color",
          "default": "#323232"
        },
        {
          "type": "range",
          "id": "opacity",
          "label": "Select overlay opacity",
          "min": 10,
          "max": 100,
          "step": 5,
          "default": 25
        },
        {
          "type": "header",
          "content": "Text Setting"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Pick slider text color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Type sub heading text",
          "default": "SALE UP TO 30% OFF"
        },
        {
          "type": "text",
          "id": "banner_heading",
          "label": "Type heading text",
          "default": "Heading 1"
        },
        {
          "type": "text",
          "id": "info",
          "label": "Type slider info text",
          "default": "INfo text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Type button text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Type button url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner with Text"
    }
  ]
}
{% endschema %}
